Repository silva4dev/ruby-rails-vacancies-project: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn css:fix, yarn erb:fix, yarn md:fix, yarn json:fix, yarn js:fix, yarn ruby:fix

initial
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  config/application.rb
  lib/assets/css/global.css
  vite.config.ts
Due: yarn css:fix, yarn js:fix, yarn ruby:fix

Add gems
  Gemfile
Due: none

Update config rubocop
  .rubocop.yml
Due: none

Update stylelint
  .stylelintrc
Due: none

Add gems
  Gemfile.lock
Due: none

Update config vite
  vite.config.ts
Due: yarn js:fix

Add view components
  app/components/molecules/flash/flash_component.html.erb
  app/components/molecules/flash/flash_component.rb
  app/components/organisms/footer/footer_component.html.erb
  app/components/organisms/footer/footer_component.rb
  app/components/organisms/navbar/navbar_component.html.erb
  app/components/organisms/navbar/navbar_component.rb
Due: yarn ruby:fix

Add stylesheets
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/base/_reset.scss
  app/assets/stylesheets/core/.keep
  app/assets/stylesheets/molecules/_card.scss
  app/assets/stylesheets/molecules/_details.scss
  app/assets/stylesheets/molecules/_slider.scss
  app/assets/stylesheets/organisms/_footer.scss
  app/assets/stylesheets/organisms/_navigation.scss
  app/assets/stylesheets/templates/_default.scss
Due: yarn css:fix

Add view components
  app/components/atoms/.keep
Due: none

Add jobs controller
  app/controllers/jobs_controller.rb
Due: yarn ruby:fix

Add registrations controller
  app/controllers/registrations_controller.rb
Due: yarn ruby:fix

Update rubocop
  .rubocop.yml
Due: none

Add yarn
  yarn.lock
Due: none

Add sessions controller
  app/controllers/sessions_controller.rb
Due: yarn ruby:fix

Rename file welcome to jobs
  app/controllers/welcome_controller.rb
Due: yarn ruby:fix

Add user model
  app/models/user.rb
Due: yarn ruby:fix

Add current model
  app/models/current.rb
Due: yarn ruby:fix

Add views
  app/views/jobs/index.html.erb
  app/views/jobs/show.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/new.html.erb
Due: yarn erb:fix

Add view components
  app/components/molecules/flash/flash_component.html.erb
  app/components/organisms/footer/footer_component.html.erb
Due: none

Add services fetch data
  app/services/api_fetcher.rb
Due: yarn ruby:fix

Rename folder welcome to jobs
  app/views/welcome/index.html.erb
Due: yarn erb:fix

Add routes
  config/routes.rb
Due: yarn ruby:fix

Add i18n
  config/initializers/i18n.rb
Due: yarn ruby:fix

Add schema
  db/schema.rb
Due: yarn ruby:fix

Add users migrate
  db/migrate/20230430003801_create_users.rb
Due: yarn ruby:fix

Add keep test
  test/components/.keep
Due: none

Remove test controller
  test/controllers/welcome_controller_test.rb
Due: yarn ruby:fix

Update gemfile
  Gemfile
Due: none

Update stylesheets
  app/assets/stylesheets/molecules/_card.scss
  app/assets/stylesheets/organisms/_navigation.scss
Due: yarn css:fix

Update view components
  app/components/organisms/footer/footer_component.html.erb
  app/components/organisms/navbar/navbar_component.html.erb
Due: none

Update application controller
  app/controllers/application_controller.rb
Due: yarn ruby:fix

Add job applications controller
  app/controllers/job_applications_controller.rb
Due: yarn ruby:fix

Update jobs controller
  app/controllers/jobs_controller.rb
Due: yarn ruby:fix

Update registrations controller
  app/controllers/registrations_controller.rb
Due: yarn ruby:fix

Update sessions controller
  app/controllers/sessions_controller.rb
Due: yarn ruby:fix

Add job application model
  app/models/job_application.rb
Due: yarn ruby:fix

Update user model
  app/models/user.rb
Due: yarn ruby:fix

Update views
  app/views/jobs/index.html.erb
  app/views/jobs/show.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/new.html.erb
Due: yarn erb:fix

Add i18n
  config/initializers/i18n.rb
  config/initializers/locale.rb
  config/initializers/simple_form.rb
  config/locales/components/flash/en.yml
  config/locales/components/flash/pt-BR.yml
  config/locales/components/footer/en.yml
  config/locales/components/footer/pt-BR.yml
  config/locales/components/navbar/en.yml
  config/locales/components/navbar/pt-BR.yml
  config/locales/defaults/en.yml
  config/locales/defaults/pt-BR.yml
  config/locales/en.yml
  config/locales/models/user/en.yml
  config/locales/models/user/pt-BR.yml
  config/locales/views/jobs/en.yml
  config/locales/views/jobs/pt-BR.yml
  config/locales/views/registrations/en.yml
  config/locales/views/registrations/pt-BR.yml
  config/locales/views/sessions/en.yml
  config/locales/views/sessions/pt-BR.yml
  config/locales/views/simple_form/simple_form.en.yml
  config/locales/views/simple_form/simple_form.pt-BR.yml
Due: yarn ruby:fix

Path conditions:
  yarn css:fix: any of: **/**/*.{scss,css}
  yarn erb:fix: any of: app/views/**/*.html.erb
  yarn md:fix: any of: **/**/*.md
  yarn json:fix: any of: **/**/*.json
  yarn js:fix: any of: **/**/*.{js,ts}
  yarn ruby:fix: any of: **/**/*.rb
