Repository silva4dev/ruby-rails-vacancies-project: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn css:fix, yarn erb:fix, yarn md:fix, yarn json:fix, yarn js:fix, yarn ruby:fix

Update rubocop
  .rubocop.yml
Due: none

Update view components
  app/components/organisms/footer/footer_component.html.erb
Due: none

Update routes
  config/routes.rb
Due: yarn ruby:fix

Update schema
  db/schema.rb
Due: yarn ruby:fix

Add migrations
  db/migrate/20230430003801_create_users.rb
  db/migrate/20230501060050_create_job_applications.rb
Due: yarn ruby:fix

Add views
  lib/templates/erb/scaffold/_form.html.erb
Due: none

Delete README.md
  README.md
Due: yarn md:fix

Path conditions:
  yarn css:fix: any of: **/**/*.{scss,css}
  yarn erb:fix: any of: app/views/**/*.html.erb
  yarn md:fix: any of: **/**/*.md
  yarn json:fix: any of: **/**/*.json
  yarn js:fix: any of: **/**/*.{js,ts}
  yarn ruby:fix: any of: **/**/*.rb
